<h1>JSON mothafucker, do you speak it?</h1>

<p><%= link_to 'You want JSON instead', :action => 'index', :format => 'json' %></p>
<p><%= link_to 'Or XML if you suck',    :action => 'index', :format => 'xml'  %></p>
